body {
  text-align: center;
  background-color: #f2a2c6;
}

h1 {
  font-size: 5rem;
  color: rgb(77, 92, 255);
  font-family: "Arvo", cursive;
  text-shadow: 3px 0 #DA0463;

}

footer {
  color: #DBEDF3;
  font-family: sans-serif;
}

.w {
  background-image: url(tom1.png);
 
}

.a {
  background-image: url(tom2.png);

}

.s {
 background-image: url(tom3.png);
}

.d {
  background-image: url(tom4.png);

}

.j {
  background-image: url(kick.png);
}

.k {
  background-image: url(snare.png);
}

.l {
  background-image: url(crash.png);

}

.set {
  margin: 10% auto;
}

.game-over {
  background-color: rgb(255, 126, 126);
  opacity: 0.8;
}

.pressed {
  box-shadow: 0 3px 4px 0 #8ab5c3;
  opacity: 0.5;
}

.red {
  color: red;
}

.drum {
  outline: none;
  border: 10px solid #768fd4;
  font-size: 5rem;
  font-family: 'Arvo', cursive;
  line-height: 2;
  font-weight: 900;
  color: #d0538b;
  text-shadow: 3px 0 #DBEDF3;
  border-radius: 15px;
  display: inline-block;
  width: 150px;
  height: 150px;
  text-align: center;
  margin: 10px;
  background-color: rgb(240, 240, 240);
}
@media all and (orientation: portrait) {
  body {
      -webkit-transform: rotate(90deg); 
      -moz-transform: rotate(90deg); 
      -ms-transform: rotate(90deg); 
      -o-transform: rotate(90deg); 
      transform: rotate(90deg); 
      margin-top: 600px;
  }

}




